* {
  margin: 0;
  padding: 0;
}

#app{
  overflow-y: scroll;
  position: relative;
}

.list{
  position: absolute;
  top: 0px;
  right: 30px;
  left: 30px;
  list-style: none;
}

.item{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 80px;
  margin-top: 10px;
  box-sizing: border-box;
}